* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .login {
    text-align: left;
    padding-top: 15%;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 2;
    position: relative;
  }
  .para {
    font-size: x-large;
    text-align: left;
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 2;
    position: relative;
  }
  .circle1 {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 400px;
    width: 400px;
    background-color: aqua;
    border-top-right-radius: 200%;
    z-index: 1;
  }
  .circle2 {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 400px;
    width: 400px;
    background-color: rgb(255, 234, 0);
    border-bottom-left-radius: 200%;
    z-index: 1;
  }
  /* For smaller Screens */
  @media only screen and (max-width: 600px) {
    .circle1 {
      width: 150px;
      height: 150px;
      border-top-right-radius: 100%;
    }
    .circle2 {
      width: 150px;
      height: 150px;
      border-bottom-left-radius: 100%;
    }
  }
  
  /* For Ipad */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .circle1 {
      width: 300px;
      height: 300px;
      border-top-right-radius: 100%;
    }
    .circle2 {
      width: 300px;
      height: 300px;
      border-bottom-left-radius: 100%;
    }
  }
  